$header-background: #e6f0d6;
$text-color: #000000;
$button-color: #BED392;
$header-font: Playfair Display;
$logo-font: Mr De Haviland;
$button-font: Montserrat;
$content-font: Playfair Display;
$info-font: Montserrat;